.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.menu-container {
  padding: 15px;
  border-radius: 10px;
}

.menu-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin: 3px 0;
}

.menu-item button {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menu-item button:hover {
  background: rgb(248, 202, 51);
  color: dodgerblue;
  transform: rotate(2deg);
  transform: scale(1.05);
}

.quiz-card-container {
  width: 60%;
  display: flex;
  justify-content: center;
}



.quiz-card h2 {
  margin-bottom: 20px;
}

.options {
  margin: 20px 0;
}

.option-button.correct {
  background: #d4edda;
  border-color: #28a745;
}

.option-button.wrong {
  background: #f8d7da;
  border-color: #dc3545;
}

.option-button:disabled {
  cursor: not-allowed;
}



