/* src/components/Quiz.css */
.quiz-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 67vh;
  align-items: center;
}

.topics {
  width: 170px;
  margin-left: 30px;
  flex-shrink: 0;
  background-color: rgba(70, 151, 232, 0.297);
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.topics h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;

}

.topics ul {
  list-style: none;
  padding: 0;
}

.topics li {
  margin-bottom: 10px;
}

.topics button {
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: rgb(227, 240, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.topics button:hover {
  background-color: #0056b3;
  transform: scale(1.05) rotate(1deg);
}

.quiz-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}


.quiz-image {
  height: auto;
  transform: translateX(-50%);
}

.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}
/* src/components/animations.css */
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 0.5s ease-out;
}
/* src/components/animations.css */
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 0.5s ease-out;
}

/* src/components/mediaqueries.css */
@media (max-width: 768px) {
  .quiz-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: auto;
  }

  .topics {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: rgba(70, 151, 232, 0.297);
    padding: 10px;
    box-shadow: none;
    border-radius: 12px;
  }

  .quiz-content {
    height: 140px;
    
    width: 100%;
    position: relative;
  }

  .quiz-image {
    display: none;
  }
}

@media (max-width: 480px) {
  .topics h1 {
    font-size: 20px;
  }
  .topics {
    width: 65%;
    align-self: center;
    margin-top: 40px;
    transform: scale(0.9);
  }
  .quiz-card,
  .quiz-content {
    margin: 0;
    padding: 0;
  }
  .quiz-card {
    padding: 10px;
  }
  .topics button {
    padding: 8px;
  }
}