/* src/pages/Home.css */
body {
  background: url('../../assets/background.png');
  background-size: cover;
  color: #ffffff;
  background-color: rgb(219, 240, 249);
  margin: 0;
  padding: 0;
}

.python-text {
  color:#ffd700;  
}
.home p {
  padding-left: 10px;
  padding-right: 10px;
}
.home {
  padding: 2em;
  text-align: center;
}


.welcome-section {
  background: linear-gradient(to border-bottom, #1f4e79, #2c3e50);
  color: white;
  padding-top: 4px;
  padding-bottom: 2em;
  border-radius: 15px; 
  margin-bottom: 2em;
}

.glass {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.3);
  border: 6px solid rgba(255, 255, 255, 0.2);
}
img {
  width: 210px;
  height: 130px;
}

.welcome-section h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.welcome-section p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.cta-buttons {
  margin-top: 1em;
}

.cta-button {
  background: #ffd700;
  color: #2c3e50;
  border: none;
  padding: 1em 2em;
  margin: 0 0.5em;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  border-radius: 10px; /* Rounded corners */
}

.cta-button:hover {
  background: #ffd700;
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.section {
  color: white;
  padding: 2em 0;
  margin-bottom: 2em;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 16px 16px 16px rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);/* Rounded corners */
  background: none!important;
}

.section iframe {
  width: 100%;
  max-width: 560px;
  border-radius: 10px; /* Rounded corners for iframe */
}

@media (max-width: 768px) {
  .section {
    padding: 1em;
  }
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: rgb(219, 240, 249);
}

::-webkit-scrollbar-thumb {
  background: rgb(78, 116, 154); 
  border-radius: 20px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2e455c; 
}

