h1 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    margin-top: 1em;
    border-radius: 20px;
    padding: 8px;
}
.support-me {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.Share img {
    width: 100px;
    height: 100px;
    margin-bottom: 70px;
}
.donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: min-content;

}
.donation-cta {
    text-align: center;
    margin: 0;
    font-size: 1.4rem;

}
.kofi-profile {
    color: #ffd700;
    font-style: italic;
}
.kofi-profile:hover {
    text-decoration: underline;
}
.support-content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 70%;
}
#kofiframe {
  border-radius: 10px;
  border: 1.5px solid #ffd700;
  box-shadow: 0px 0px 10px rgba(186, 174, 210, 0.44);
}
.donation-info {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}
.Share {
    border-radius: 20px;
    padding: 15px;
    width: 400px;
    text-align: center;
}

.avis {
    text-align: center;
    transform: translateY(600%);
}
.avis a {
    color: #ffd700;
    text-decoration: underline;
}
.Share, .donate {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    margin: 10px;
  }
  
  .share-url-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }
  
  .share-url-textarea {
    width: 46%;
    font-size: 0.8rem ;
    max-width: 400px;
    color: #ffd700;
    overflow: hidden;
    background-color:rgba(45, 55, 68, 0.397);
    height: 8px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #007bffc6;
    resize: none;
    text-align: center;
  }
  
  .copy-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;
  }
  
  .copy-button:hover {
    background-color: #0056b3;
  }
  
  .copied-notification {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
.Share > * {
    margin-bottom: 60px;
}