.footer {
    
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 16px;
    padding-top: 16px;
}

img {
    width: 24px;
    height: 24px;
    margin: 10px 18px;
}

.social-icon {
    width: 24px;
    height: 24px; 
    filter: brightness(1) invert(1); 
    transition: transform 0.4s ease-in-out;
}

.social-icon:hover {
    transform: translateY(-3px);
    transform: scale(1.2); 
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
    }
    
}
