/* src/App.css */

/* General reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 1em;
  text-align: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.header nav ul li {
  cursor: pointer;
  padding: 0.5em 1em;
  transition: background 0.3s, color 0.3s;
}

.header nav ul li:hover {
  background: #555;
  color: #ffeb3b;
}

.main-content {
  flex: 1;
  padding: 2em;
}

.footer {
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
}

.footer p {
  margin: 0;
}

/* Adding some media queries for responsiveness */
@media (max-width: 768px) {
  .header nav ul {
    flex-direction: column;
  }

  .header nav ul li {
    margin: 0.5em 0;
  }
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
